/* Fonts */
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}
/* General */
body{
    background-color:#f0f0f0;
    font:16px/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-y:scroll
}
body,a,a:hover,a:focus,caption{
    color:#333
}
a{
    text-decoration:none
}
a:hover,a:focus{
    text-decoration:underline
}
.hidden{
    display:none !important
}
h1{
    color:#ff69b4;
    font-size:2em;
    font-weight:700;
    text-align:center;
    margin:0 0 1em
}
h1::before{
    content:" ";
    display:inline-block;
    background-size:contain;
    vertical-align:middle;
    margin:0 0.5em 0 0
}
[data-pokedex='lgpe'] h1::before{
    background-image:url(img/logo-lets-go-pikachu-eevee.png);
    width:8.75em;
    height:2em;
}
[data-pokedex=swsh] h1{
    line-height: 2em;
}
[data-pokedex=swsh] h1::before{
    background-image:url(img/logo-sword-shield.png);
    width:4.21875em;
    height:2em;
    vertical-align: top;
}
h2{
    background:#f0f0f0;
    background:linear-gradient(0deg, rgba(246,246,246,1) 50%, rgba(240,240,240,1) 50%);
    color:#4d6ad8;
    font-size:1.5em;
    font-weight:700;
    display:inline-block;
    margin:0 0 0.5em;
    position:absolute;
    top:-0.75em
}
h3{
    text-align: center;
    font-size:1em;
    line-height:2;
    margin:2em 0 0
}
#intro {
    text-align:center;
    font-size:.875em;
    margin:0 10em 1.25rem
}
article{
    background-color:#f0f0f0;
    width:79.375em;
    padding:0 1.25em;
    margin:1em auto
}
article section{
    background: #f6f6f6;
    border-radius: 1em;
    border:0.0625em solid #dedede;
    padding:1.25em 1em 1em;
    margin:0 0 1.25em;
    position:relative
}
#slots, #dex-container,
.pokedex{
    list-style:none;
    padding:0;
    margin:0 auto;
    clear:left
}
#slots li,
.pokedex li{
    display:inline-block !important;
    padding:0.4375em 0.125em;
    margin:0.3125em;
    vertical-align:top
}
/* Loading screen */
#loader{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:9999;
    background:#43b2e0
}
#loader img{
    width:48px; height:48px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-24px 0 0 -24px;
    -webkit-transition:opacity .2s;
    transition:opacity .2s;
    -webkit-animation-duration:.8s;
    animation-duration:.8s;
    -webkit-animation-name:spin;
    animation-name:spin;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0deg)}
    100%{
        -webkit-transform:rotate(360deg)} }
@keyframes spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)}
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)} }
/* Buttons */
.button{
    background-color:#4d6ad8;
    color:#f0f0f0;
    font-weight:700;
    text-align:center;
    display:inline-block;
    padding:.2em .5em;
    border-radius:.25em;
    cursor:pointer;
    position:absolute;
    width:1.875em;
    box-sizing:border-box
}
.button:hover,.button:focus{
    color:#f0f0f0;
    text-decoration:none
}
#team #randomize{
    right: 0;
    left: 1em;
    top: 15.325em;
}
#team #take-screenshot{
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmZmZmIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjMuMiIvPgogICAgPHBhdGggZD0iTTkgMkw3LjE3IDRINGMtMS4xIDAtMiAuOS0yIDJ2MTJjMCAxLjEuOSAyIDIgMmgxNmMxLjEgMCAyLS45IDItMlY2YzAtMS4xLS45LTItMi0yaC0zLjE3TDE1IDJIOXptMyAxNWMtMi43NiAwLTUtMi4yNC01LTVzMi4yNC01IDUtNSA1IDIuMjQgNSA1LTIuMjQgNS01IDV6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=);
    background-size: 1.25em;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -999em;
    top: 1.25em
}
#team .button {
    top: 15.325em;
    right: 1em;
}
#copy-url{
    font-size:.75em;
    margin:2em 0 0
}
#copy-url input{
    width:93.5em;
    padding:.1666667em;
    border:1px solid #dedede;
    margin:0 1em 0 0;
    font: inherit;
    line-height: inherit
}
#copy-url a{
    position:static;
    width:8em
}
/* Tables */
#type-analysis {
    text-align: center;
}
table,tbody,caption,td,th{
    display:block;
    text-align:center
}
table{
    width:33.75em;
    margin:1.25em 1.25em 0;
    display: inline-block;
    background: #e6e6e6;
    border-radius: 1em;
}
table tr{
    display:inline-block;
    box-sizing:content-box;
    width:3.125em;
    padding:0.3125em;
    cursor:default;
    border-radius:1em
}
table caption::before {
    content:"◉";
    display:inline-block;
    margin:0 0.5em 0 0;
    color:#ff2d17
}
#team-coverage caption::before {
    content:"★";
    color:#ffd400
}
#team-immunities caption::before {
    content:"╳";
    color:#4769b7
}
#team-resistances caption::before {
    content:"▲";
    color:#bdbe44
}
/* Filters */
#filters{
    margin:1em 0 0
}
.filter{
    display:inline-block;
    margin:0 0 1em;
    position: relative;
}
.filter label{
    vertical-align:middle;
    display: inline-block;
    margin:0 1em 0;
    width:6.5em;
    text-align:center
}
.filter > label{
    font-weight: 700;
    line-height: 2em;
}
.filter button, #search-bar{
    width:10.5rem;
    border:none;
    padding:0.375rem 0.1875rem;
    font-size:.875em;
    line-height: 1.125rem;
    background:#fff;
    color:inherit;
    cursor: pointer;
    border:1px solid #d9d9d9
}
.filter:not(.disabled) button::after{
    display: inline-block;
    width:0;
    height:0;
    content:'';
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 1em;
    right: 1em;
}
.filter button:hover,
.filter.active button,
.filter.disabled button{
    background:#e6e6e6
}
.filter.disabled button{
    cursor: auto;
}
.filter:not(.active) .dropdown-menu{
    display:none
}
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 8.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 999;
    font-size: 0.875em;
    min-width: 10.5rem;
    text-align: left;
    border: 1px solid #d9d9d9;
    background: #fff;
}
.filter[data-type$=type] .dropdown-menu,
.filter[data-type$=type] .dropdown-menu li label[for$=all]{
    width:21rem
}
.dropdown-menu li{
    position: relative;
    display: inline-block;
    min-width: 10.5rem;
}
.dropdown-menu li:hover{
    background: #f5f5f5;
}
.dropdown-menu li.active{
    background: #428bca;
    color: #f0f0f0;
}
.dropdown-menu li label{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0.25rem 1rem 0.375rem 2rem;
    cursor: pointer;
    margin: 0;
    text-align: left;
}
.dropdown-menu li input{
    position: absolute;
    left: .5em;
    top: .375em;
    font-size: inherit;
}
#search-bar{
    cursor: text;
}
/* Footer */
footer{
    font-size:.75em;
    text-align:right
}
#donation{
    line-height: 1.25rem;
    text-align: center
}
#bugs{text-align: center}
#donation a{
    background: url(https://img.shields.io/badge/donation%20via-PayPal-blue.svg);
    display: inline-block;
    vertical-align: middle;
    text-indent: -999em;
    direction: ltr;
    width: 7.875rem;
    height: 1.25rem;
}
/* Type Icons */
[data-type] .info{background:#68a090}
[data-type^=normal] .info{background:#c6c6a7}
[data-type^=grass] .info{background:#a7db8d}
[data-type^=fire] .info{background:#f5ac78}
[data-type^=water] .info{background:#9db7f5}
[data-type^=fighting] .info{background:#d67873}
[data-type^=flying] .info{background:#c6b7f5}
[data-type^=poison] .info{background:#c183c1}
[data-type^=ground] .info{background:#ebd69d}
[data-type^=rock] .info{background:#d1c17d}
[data-type^=bug] .info{background:#c6d16e}
[data-type^=ghost] .info{background:#a292bc}
[data-type^=electric] .info{background:#fae078}
[data-type^=psychic] .info{background:#fa92b2}
[data-type^=ice] .info{background:#bce6e6}
[data-type^=dragon] .info{background:#a27dfa}
[data-type^=dark] .info{background:#a29288}
[data-type^=steel] .info{background:#d1d1e0}
[data-type^=fairy] .info{background:#f4bdc9}
[data-type=''] .name {
    line-height: 3em;
}
[data-type] [data-slot='1'][title=''],[data-type] [data-slot='2'][title='']{
    display:none !important
}
[data-type] [data-slot]{
    background-image:url(img/types.png);
    background-repeat:no-repeat;
    display:inline-block;
    width:3.125em;
    height:1.125em;
    text-indent:-999em
}
[data-type] th[data-slot]{
    display:block;
    padding:0
}
[data-type^=fire] [data-slot='1'],[data-type$=fire] [data-slot='2']{background-position:0 -18px}
[data-type^=flying] [data-slot='1'],[data-type$=flying] [data-slot='2']{background-position:0 -36px}
[data-type^=grass] [data-slot='1'],[data-type$=grass] [data-slot='2'],
[data-type^=grass] [data-slot='1'],[data-type$=grass] [data-slot='2']{background-position:0 -54px}
[data-type^=normal] [data-slot='1'],[data-type$=normal] [data-slot='2']{background-position:0 -72px}
[data-type^=water] [data-slot='1'],[data-type$=water] [data-slot='2']{background-position:0 -90px}
[data-type^=bug] [data-slot='1'],[data-type$=bug] [data-slot='2']{background-position:-50px 0}
[data-type^=electric] [data-slot='1'],[data-type$=electric] [data-slot='2']{background-position:-50px -18px}
[data-type^=ghost] [data-slot='1'],[data-type$=ghost] [data-slot='2']{background-position:-50px -36px}
[data-type^=ground] [data-slot='1'],[data-type$=ground] [data-slot='2']{background-position:-50px -54px}
[data-type^=poison] [data-slot='1'],[data-type$=poison] [data-slot='2']{background-position:-50px -72px}
[data-type^=rock] [data-slot='1'],[data-type$=rock] [data-slot='2']{background-position:-50px -90px}
[data-type^=dark] [data-slot='1'],[data-type$=dark] [data-slot='2']{background-position:-100px 0}
[data-type^=dragon] [data-slot='1'],[data-type$=dragon] [data-slot='2']{background-position:-100px -18px}
[data-type^=fairy] [data-slot='1'],[data-type$=fairy] [data-slot='2']{background-position:-100px -36px}
[data-type^=ice] [data-slot='1'],[data-type$=ice] [data-slot='2']{background-position:-100px -54px}
[data-type^=psychic] [data-slot='1'],[data-type$=psychic] [data-slot='2']{background-position:-100px -72px}
[data-type^=steel] [data-slot='1'],[data-type$=steel] [data-slot='2']{background-position:-100px -90px}
/* Pokémon team */
#slots{
    width:72em;
    margin-bottom:1.25em
}
#slots li{
    padding:0;
    margin:0;
    border:none;
    height:16em;
    vertical-align:top
}
#slots li:not([data-pokemon='']){
    cursor:no-drop
}
#slots li figure{
    width:12em;
    height:12em;
    margin:0 auto
}
#slots li .info{
    border-radius:0.625em;
    width:10em;
    height:3em;
    margin:0.5em auto 0;
    padding:0.25em;
    text-align:center;
    z-index: 1000;
}
#slots li .info .name{
    display:block;
    font-size:0.875em;
    font-weight:700;
    margin:0 0 0.25rem
}
#slots li .info .type{
    line-height:1.125
}
#slots figure {
    width:12em;
    background-repeat:no-repeat;
    background-size:contain
}
#slots figure img {
    width:12em
}
#slots [data-type] .wrap,#slots [data-type] figure {
    background:url(img/types_bg.png);
    background-repeat:no-repeat;
}
#slots [data-type=''] .wrap,#slots [data-type=''] figure{
    background:url(img/type_unknown.png)
}
#slots li[data-type^=normal] .wrap{background-position:0 0}
#slots li[data-type$=normal] figure{background-position:-192px 0}
#slots li[data-type^=fighting] .wrap{background-position:-384px 0}
#slots li[data-type$=fighting] figure{background-position:-576px 0}
#slots li[data-type^=flying] .wrap{background-position:-768px 0}
#slots li[data-type$=flying] figure{background-position:-960px 0}
#slots li[data-type^=poison] .wrap{background-position:0 -192px}
#slots li[data-type$=poison] figure{background-position:-192px -192px}
#slots li[data-type^=ground] .wrap{background-position:-384px -192px}
#slots li[data-type$=ground] figure{background-position:-576px -192px}
#slots li[data-type^=rock] .wrap{background-position:-768px -192px}
#slots li[data-type$=rock] figure{background-position:-960px -192px}
#slots li[data-type^=bug] .wrap{background-position:0 -384px}
#slots li[data-type$=bug] figure{background-position:-192px -384px}
#slots li[data-type^=ghost] .wrap{background-position:-384px -384px}
#slots li[data-type$=ghost] figure{background-position:-576px -384px}
#slots li[data-type^=steel] .wrap{background-position:-768px -384px}
#slots li[data-type$=steel] figure{background-position:-960px -384px}
#slots li[data-type^=fire] .wrap{background-position:0 -576px}
#slots li[data-type$=fire] figure{background-position:-192px -576px}
#slots li[data-type^=water] .wrap{background-position:-384px -576px}
#slots li[data-type$=water] figure{background-position:-576px -576px}
#slots li[data-type^=grass] .wrap{background-position:-768px -576px}
#slots li[data-type$=grass] figure{background-position:-960px -576px}
#slots li[data-type^=electric] .wrap{background-position:0 -768px}
#slots li[data-type$=electric] figure{background-position:-192px -768px}
#slots li[data-type^=psychic] .wrap{background-position:-384px -768px}
#slots li[data-type$=psychic] figure{background-position:-576px -768px}
#slots li[data-type^=ice] .wrap{background-position:-768px -768px}
#slots li[data-type$=ice] figure{background-position:-960px -768px}
#slots li[data-type^=dragon] .wrap{background-position:0 -960px}
#slots li[data-type$=dragon] figure{background-position:-192px -960px}
#slots li[data-type^=dark] .wrap{background-position:-384px -960px}
#slots li[data-type$=dark] figure{background-position:-576px -960px}
#slots li[data-type^=fairy] .wrap{background-position:-768px -960px}
#slots li[data-type$=fairy] figure{background-position:-960px -960px}
/* Pokémon art */
[data-pokemon] img{
    background-image:url(img/art_gen1.png);
    background-repeat:no-repeat
}
[data-pokemon][data-gen='2'] img{background-image:url(img/art_gen2.png)}
[data-pokemon][data-gen='3'] img{background-image:url(img/art_gen3.png)}
[data-pokemon][data-gen='4'] img{background-image:url(img/art_gen4.png)}
[data-pokemon][data-gen='5'] img{background-image:url(img/art_gen5.png)}
[data-pokemon][data-gen='6'] img{background-image:url(img/art_gen6.png)}
[data-pokemon][data-gen='7'] img{background-image:url(img/art_gen7.png)}
[data-pokemon][data-gen='8'] img{background-image:url(img/art_gen8.png)}
[data-pokemon$='gmax'][data-gen='8'] img{background-image:url(img/art_gmax.png)}

/* Pokémon menu sprites */
.pokedex{width:76.5em}
.pokedex li{
    margin:0;
    padding:0.125em 0 0;
    border:none
}
.pokedex li.up{
    padding:0 0 0.125em
}
.pokedex li:hover{
    background-image:url(img/pokeball_hover.png);
    background-origin: padding-box
}
.pokedex li .ms{
    display:inline-block;
    text-indent:-999em;
    width:4.25em;
    height:3.5em;
    background-image:url(img/ms_gen8.png)
}

.pokedex [data-pokemon].unobtainable,
.pokedex [data-pokemon].filtered,
.pokedex [data-pokemon].picked{
  display:none !important
}
